* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../imgs/bg2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-image: url(../imgs/bg1.jpg);
    padding: 5px;
    border-radius: 20px ;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
    margin-top: 80px;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px gray;
    cursor: pointer;
    border-radius: 50%;
}
.input-group {
    left: 93px;
    position: absolute;
    width: 200px;
}
.input-field {
    width: 100%;
    padding: 20px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: white;
    background: #003366;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box {
    margin: 30px 10px 30px 0;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 200px;
}
.submit-btn:hover {
    color: white;
    transform: scale(1.2);
} 
.goog:hover{
    transform: scale(1.5);
}
.fb:hover{
    transform: scale(1.5);
}
.twt:hover{
    transform: scale(1.5);
}
